StrictHostKeyChecking no

Host *.cloudlab.us
    User {{ cloudlab_user | default('younes02') }}
    IdentityFile {{ ssh_identity_file | default('/home/' ~ ansible_user ~ '/.ssh/id_ed25519') }}
    IdentitiesOnly yes

{% for alias, fqdn in (cloudlab_hosts | default({})).items() %}
Host {{ alias }}
    Hostname {{ fqdn }}
    User {{ cloudlab_user | default('younes02') }}
{% endfor %}
