cloudlab_hosts:
  lb: {{ LB }}.{{ CLOUDLAB_DOMAIN }}
  master1: {{ MASTER1 }}.{{ CLOUDLAB_DOMAIN }}
  master2: {{ MASTER2 }}.{{ CLOUDLAB_DOMAIN }}
  master3: {{ MASTER3 }}.{{ CLOUDLAB_DOMAIN }}
  worker1: {{ WORKER1 }}.{{ CLOUDLAB_DOMAIN }}
  worker2: {{ WORKER2 }}.{{ CLOUDLAB_DOMAIN }}
  worker3: {{ WORKER3 }}.{{ CLOUDLAB_DOMAIN }}

kube_control_plane_hosts: [master1, master2, master3]
kube_worker_hosts: [worker1, worker2, worker3]
