---
- name: Ensure Python deps for k8s modules (system packages)
  ansible.builtin.apt:
    name:
      - python3-pip
      - python3-yaml
    state: present
    update_cache: yes

- name: Install kubernetes Python client (and openshift)
  ansible.builtin.pip:
    name:
      - kubernetes
      - openshift
    executable: pip3
