Include /etc/ssh/sshd_config.d/*.conf

Port {{ sshd_config.Port|default('22') }}
ListenAddress {{ sshd_config.ListenAddress|default('0.0.0.0') }}


LogLevel VERBOSE


PermitRootLogin {{ sshd_config.PermitRootLogin|default('without-password') }}
MaxAuthTries 3
MaxSessions 2


PasswordAuthentication {{ sshd_config.PasswordAuthentication|default('yes') }}

ChallengeResponseAuthentication no


UsePAM yes

AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PrintMotd no
TCPKeepAlive no
Compression no
ClientAliveCountMax 2

Banner /etc/issue.net

AcceptEnv LANG LC_*

Subsystem sftp	/usr/lib/openssh/sftp-server


{% if sshd_config.AllowUsers is defined %}
AllowUsers {{ sshd_config.AllowUsers }}
{% endif %}
{% if sshd_config.AllowGroups is defined %}
AllowGroups {{ sshd_config.AllowGroups }}
{% endif %}
